@media (max-width:$screen-sm) {
    .nav-min {
        #nav-container {
            width: 50px;
        }
        #content {
            left: 40px;

            @media (max-width:$screen-xs) {
                top: 65px;
            }
        }
        
        .slimScrollDiv {
            overflow: visible !important; // overrides slimScroll plugin
        }

        #nav {
            overflow: visible !important;
            > li {
                width: 50px;
                > a {
                    > span {
                        display: none;
                    }
                }

                .icon-has-ul {
                    display: none;
                }
            }
        }
    }
}