<div class="input-group counter">
  <span class="input-group-btn">
      <button type="button" class="btn btn-primary" ng-click="up()">
          <i class="fa fa-plus"></i>
      </button>
  </span>
  <input type="text" class="spinner-input form-control" ng-model="player.initial_points">
  <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="down()" ng-disabled="player.initial_points == 0">
          <i class="fa fa-minus"></i>
      </button>
  </span>
</div>
