<div class="wizard-steps">
  <div class="clearfix">
   <div ng-repeat="step in steps" class="step" ng-class="{'active': (currentStep == step)}"><span class="number">{{ step.number }}.</span>{{ step.label }}</div>

   <div class="step optional" ng-class="{'active': (currentStep == optionalStep)}"> {{ optionalStep.label }}  </div>

  </div>

  <div class="content clearfix" ng-transclude>
  </div>

  <div class="menu pull-right clearfix" >
    <button class="btn btn-w-md btn-gap-v btn-primary" type="button" ng-show="currentStep == optionalStep" ng-click="setlastStep()">Anterior</button>
    <button class="btn btn-w-md btn-gap-v btn-primary" type="button" ng-hide="currentStep == optionalStep" ng-disabled="currentStep.number == 1" ng-click="previousStep()">Anterior</button>
    <button class="btn btn-w-md btn-gap-v btn-primary" type="button" ng-hide="currentStep == lastStep || currentStep == optionalStep"  ng-click="nextStep()" ng-disabled="!validate()">Siguiente</button>
    <button class="btn btn-w-md btn-gap-v btn-primary" type="button" ng-show="currentStep == lastStep || currentStep == optionalStep" ng-click="finish()">Crear</button>
  </div>
</div>

