<section class="panel panel-default">
  <div class="panel-heading" style="line-height: 23px;"><span class="flaticon-trophy46 flaticon-medium"></span><strong><span data-i18n="{{ title }}"></span></strong></div>
  <div class="panel-body game-tables">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Equipo</th>
                <th>Puntos</th>
                <td ng-if="largeTable">PJ</td>
                <td ng-if="largeTable">G</td>
                <td ng-if="largeTable">E</td>
                <td ng-if="largeTable">P</td>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="team in table | orderBy: '-points'">
              <td>{{ $index + 1 }}</td>
              <td>{{ team.name }} </td>
              <td><strong>{{ team.points }}</strong></td>
              <td ng-if="largeTable">{{ team.played }}</td>
              <td ng-if="largeTable">{{ team.win }}</td>
              <td ng-if="largeTable">{{ team.draw }}</td>
              <td ng-if="largeTable">{{ team.lose }}</td>
            </tr>
        </tbody>
    </table>
  </div>
</section>
