<section class="page newGame" ng-controller="NewGameController">

    <section class="panel panel-default">
      <div class="panel-heading"><span class="flaticon-trophy33"></span> <strong>Nuevo Torneo</strong></div>
        <div class="panel-body">
          <new-game-wizard steps="steps" 
                           current-step="currentStep" 
                           optional-step="optionalStep" 
                           show-optional="showOptional"
                           action="newGame" game="game" 
                           selected-tournament="selectedTournament">
                <div ng-show="currentStep == steps[0]" class="step-content">
                    <div class="col-md-5">
                        <h4 data-i18n="1. Nombre"></h4>
                        <input type="text" class="form-control" ng-model="game.name" placeholder="Nombre de tu Torneo" required>

                        <div class="callout callout-info">
                            <p>Por ejemplo: 'El Torneo de los muchachos'.</p>
                        </div>
                    </div>
                </div>

                <div ng-show="currentStep == steps[1]" class="step-content">
                    <div class="col-md-5">
                        <h4 data-i18n="2. Competición"></h4>
                        <span class="ui-select ">
                            <select ng-model="selectedTournament.tournament" ng-options="tournament.name for tournament in tournaments" required>
                                <option value="" data-i18n="-- Seleccione una Competición --"></option>
                            </select>
                        </span>

                        <div class="callout callout-info">
                            <p>Por ejemplo: 'Torneo Transición 2014.'</p>
                        </div>
                    </div>
                    <div class="col-md-7" data-slim-scroll>
                        <div ng-repeat="tournament in tournaments" ng-show="selectedTournament.tournament == tournament">
                          <div class="crests">
                            <div data-slim-scroll>
                              <div class="crest" ng-repeat="team in tournament.teams | orderBy:'name'">
                                <img src="{{ team.crest }}" popover-trigger="mouseenter" popover="{{ team.name }}"/>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

                <div ng-show="currentStep == steps[2]" class="step-content">
                  <div class="row" ng-controller="AddGamePlayersController" >
                    <div class="col-md-5">
                        <h4 data-i18n="3. Jugadores"></h4>
                        <div ng-show="hasTrueFriends">
                          <div class="callout callout-info">
                              <p>Selecciona que amigos queres que jueguen este Torneo.</p>
                          </div>
                        </div>

                          <div class="callout callout-info" ng-hide="hasTrueFriends" style="width:100%;">
                            <p>{{ withOutFriendsMsg }} <a href="#/amigos/buscar/">buscador!</a></p>
                          </div>
                    </div>
                    <div class="col-md-5" ng-show="hasTrueFriends">
		      <div class="friend-list-wrapper">
                        <div class="friends-list" data-slim-scroll>
                          <div ng-repeat="friend in friends" ng-if="friend.is_friend" >
                            <div>
                                <label class="ui-checkbox" >
                                    <input name="checkbox2" type="checkbox" value="{{ friend.id }}" ng-model="friend.checked"><span>{{ friend.username }}</span>
                                </label>
                            </div>
                          </div>
                        </div>
		      </div>
                    </div>
                  </div>
                </div>

                <div ng-show="currentStep == steps[3] && !showOptional" class="step-content">
                  <div class="row">
                    <div class="col-md-5">
                      <h4 data-i18n="4. Detalle del Torneo"></h4>
                      <div class="new-game-detail">
                            <div class="game-header">
                                <i class="flaticon-big55"></i>
                                <span>{{ game.name }}</span>
                            </div>

                            <div class="game-header">
                                <i class="flaticon-soccer64"></i>
                                <span>{{ selectedTournament.tournament.name }}</span>
                            </div>

                            <div class="game-header">
                                <i class="flaticon-soccer51"></i>
                                <span>Jugadores</span>
                            </div>

                            <div class="game-owner">
                              <span class="initial_points">
                                <i class="glyphicon glyphicon-chevron-up" popover-trigger="mouseenter" popover="Puntos Iniciales"></i>
                                {{ owner.initial_points }}
                              </span>

                                <i class="flaticon-soccer18 tshirt"></i>
                                <span>{{ owner.username }}</span>
                            </div>

                            <div class="game-players" ng-repeat="friend in data.gamePlayerFriends | filter: {checked: true}" >
                              <span class="initial_points">
                                <i class="glyphicon glyphicon-chevron-up" popover-trigger="mouseenter" popover="Puntos Iniciales"></i>
                                {{ friend.initial_points }}
                              </span>

                                <i class="flaticon-tshirt19 tshirt"></i>
                                <span>{{ friend.username }}</span>
                            </div>
                        </div>
                      </div>
                    <div class="col-md-7">
                      <h4 data-i18n="Puntos"></h4>
                      <div class="rules">
                          <p>Por cada pronostico acertado se suman:</p>
                          <ul class="points">
                            <li>Por resultado general: <strong> {{ gamePoints.points_general.initial_points }} puntos</strong></li>
                            <li ng-show="!game.classic">Por resultado exacto: <strong> {{ gamePoints.points_exact.initial_points }} puntos</strong></li>
                            <li>Si es clasico de la fecha: <strong> {{ gamePoints.points_classic.initial_points }} puntos</strong></li>
                          </ul>
                          <!--
                            <p>Y se multiplica los puntos ganados del pronostico acertado por:</p>
                            <ul class="points">
                              <li>Si es doble: <strong> por {{ gamePoints.points_double.initial_points }} </strong></li>
                            </ul>
                          -->
                      </div>
                    </div>
                    </div>
                </div>

                <div ng-show="showOptional" class="step-content">
                  <div ng-include="'scripts/games/views/_advancedConfiguration.html'" class="optional-step" >
                  </div>
                </div>
              </new-game-wizard>

        </div>
    </section>



</section>
