<div class="ui-tab-container game-configuration-advanced">
    <tabset  class="ui-tab">
        <tab heading="Modalidad">
          <div style="min-height: 250px;">
              <span class="ui-select ">
                  <select ng-model="game.classic">
                      <option value="true" data-i18n="Resultado General"></option>
                      <option value="" data-i18n="Resultado Exacto"></option>
                  </select>
              </span>

              <div style="margin-bottom:30px;"></div>

              <game-mode classic="game.classic" ></game-mode>
          </div>
        </tab>
        <tab heading="Pronosticos">
          <div style="min-height: 250px;">
              <span class="ui-select ">
                  <select ng-model="game.open_predictions">
                      <option value="true" data-i18n="Pronosticos Abiertos"></option>
                      <option value="" data-i18n="Pronosticos Cerrados"></option>
                  </select>
              </span>

              <div style="margin-bottom:30px;"></div>

              <game-open open="game.open_predictions" ></game-open>
          </div>
        </tab>
        <tab heading="Puntos">
            <div style="min-height: 250px">
            <div class="callout callout-info">
                <p>Puntos que se otorgan por pronostico acertado.</p>
            </div>

              <div ng-class="row" ng-repeat='gamePoint in gamePoints' style="width:100%" ng-if="!(gamePoint.classic != undefined && !(gamePoint.classic == game.classic))">
                <div class="col-xs-4 points">
                  <label>{{ gamePoint.label }} </label>
                </div>
                <div class="col-xs-8">
                    <div class="col-xs-8">
                      <counter player="gamePoint" show-popup="true"></counter>
                    </div>
                    <div class="col-xs-4">
                      <span class="glyphicon glyphicon-question-sign gamePointHelp"  popover-trigger="mouseenter" popover="{{ gamePoint.help }}" ></span>
                    </div>
                </div>
              </div>

            </div>
        </tab>
        <tab heading="Puntos Iniciales">
            <div class="callout callout-info">
              <p>La configuracion de los <strong>puntos iniciales</strong> puede ayudarte a pasar tu torneo ya empezado al sitio.</p>
            </div>
            
            <div class="row">
              <div class="form-group game-owner col-xs-7">
                  <i class="flaticon-soccer18 tshirt"></i>
                    <span>{{ owner.username }}</span>
              </div>
              <div class="col-xs-4">
                <counter player="owner"></counter>
              </div>
            </div>

            <div class="row game-players " ng-repeat="friend in data.gamePlayerFriends | filter: {checked: true}">
              <div class="form-group col-xs-7">
                  <i class="flaticon-tshirt19 tshirt"></i>
                    <span>{{ friend.username }}</span>
              </div>

              <div class="col-xs-4">
                <counter player="friend"></counter>
              </div>
            </div>
        </tab>
    </tabset>
</div>
