<section class="page" ng-controller="NewGameController">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="flaticon-trophy33"></span> Nuevo Torneo</strong></div>
        <div class="panel-body">
          <wizard-form steps="steps" current-step="currentStep">

                <div ng-show="currentStep == steps[0]" class="step-content">
                    <div class="form-group">
                        <h4 data-i18n="1. Nombre"></h4>
                        <input type="text" class="form-control" ng-model="game.name" placeholder="Nombre de tu Torneo" required>

                        <div class="callout callout-info">
                            <p>Por ejemplo: 'El Torneo de los muchachos'.</p>
                        </div>
                    </div>
                </div>

                <div ng-show="currentStep == steps[1]" class="step-content">
                    <div class="form-group">
                        <h4 data-i18n="2. Competición"></h4>
                        <span class="ui-select ">
                            <select ng-model="tournament" ng-options="tournament.name for tournament in tournaments" required>
                                <option value="" data-i18n="-- Seleccione una Competición --"></option>
                            </select>
                        </span>

                        <div class="callout callout-info">
                            <p>Por ejemplo: 'Torneo Transicion 2014.'</p>
                        </div>
                    </div>
                </div>

                <div ng-show="currentStep == steps[2]" class="step-content">
                  <div ng-controller="AddGamePlayersController" >
                      <h4 data-i18n="3. Jugadores"></h4>
                      <div ng-show="hasTrueFriends">
                        <div class="callout callout-info">
                            <p>Selecciona que amigos queres que jueguen este Torneo.</p>
                        </div>
                        <div ng-repeat="friend in friends" ng-if="friend.is_friend" class="friends-list">
                          <div>
                              <label class="ui-checkbox" >
                                  <input name="checkbox2" type="checkbox" value="{{ friend.id }}" ng-model="friend.checked"><span>{{ friend.username }}</span>
                              </label>
                          </div>
                        </div>

                      </div>

                        <div class="callout callout-info" ng-hide="hasTrueFriends" style="width:100%;">
                          <p>{{ withOutFriendsMsg }} <a href="#/amigos/buscar/">buscador!</a></p>
                        </div>
                            </div>
                          </div>
              </wizard-form>

        </div>
    </section>



</section>
