.wizard-steps {
   width: 95%;

  .step {

    &:last-child {
      margin-right: 0px;
    }

    padding: 14px 15px;
    margin: 7px 15px 7px 0;

    border-radius: 2px;
    width: 22%;
    height: 64px;

    color: #767676;
    background-color: #EEE;
    display: block;
    float: left;
    line-height: 35px;
    font-size: 16px;

    .number {
      margin-right: 2px;
      font-size: 19px;
    }

    &.optional {
      font-size: 22px;
      line-height: 32px;
      padding: 15px;
      width: auto;
    }

    &.active {
      background-color: #23ae89;
      color: white;
      border-color: #23ae89;
    }
  }

  .content {
    background-color: rgb(204, 204, 204);
    margin-top: 10px;
    padding: 1px;

    h4 {
      letter-spacing: 1px;
      font-size: 23px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 0px;
    }

    input.form-control {
      font-size: 18px;
      height: 40px;
      width: 40%;
      margin-top: 16px;
    }

    select {
      font-size: 14px;
      letter-spacing: 1px;
      width: 40%;
      margin-top: 5px;
      margin-bottom: 0px;
    }

    .callout-info {
      width: 40%;
    }

    .step-content {
      min-height: 300px;;
      background-color: #EEE;
      padding: 20px;
    }

    .friends-list {
      width: 40%;
      padding: 20px;
      background-color: #FFF;
      border-radius: 2px;
    }

    .new-game-detail {
      padding: 20px;
      border-radius: 2px;
      background-color: #FFF;
      font-size: 18px;
      margin-top: 20px;

      i:before {
          font-size: 40px;
      }

      .initial_points {
        i.glyphicon-chevron-up:before {
            font-size: 15px;
        }

        font-size: 15px;
        cursor: pointer;
      }

      .game-owner {
        margin-left: 10px;
      }

      .game-players {
        margin-left: 10px;
      }

    }

    .rules {
      padding: 20px;
      background-color: #FFF;
      border-radius: 2px;
      font-size: 16px;
      margin-top: 20px;
    }

    .optional-step {
      background-color: #FFF;
      border-radius: 2px;

      .tab-content {
        padding: 0px;

        .tab-pane {
          padding: 20px;

          input.form-control {
            margin-top: 0px;
            width: 100%;
            height: auto;
            font-size: 14px;
          }

          .col-xs-8 {
              width: 80%;

              .col-xs-8 {
                  width: 25%;
              }

              .col-xs-4 {
                  width: 16.333%;
              }
          }

          .col-xs-4 {
              width: 20%;
          }

          .col-xs-7 {
            width: 27%;
          }
        }

      }

      .callout {
        width: 100%;
        margin-top: 0px;
      }
    }
  }

  .menu {
    margin-top: 20px;
  }
}

