.friends {

  .mail-categories {
    .list-group {
        .list-group-item {
            padding: 0;
            &.active {
                > a {
                    border-left: 3px solid $color-blue;
                    color: $color-blue;
                    background-color: #fafafa;                    
              }
            }
            > a {
                &:hover {
                    border-left: 3px solid $color-blue;
                    color: $color-blue;
                    background-color: #fafafa;                    
                }
            }
        }
    }
  }

  .players-list {
    .ask-friendship {
        margin-right:5px;
    }
  }

  .friend-list-wrapper {
      height: 450px;

      .friend-list {
	  height: 300px;
      }
  }
}
