.news { 
    .fixture {
        .fixture-number { 
            width: 100%;
            text-align: center;
            display: inline-block;
        }

        td {
            font-size: 12px;
            &.team { 
                padding-left: 0px;
                padding-right: 0px;
            }        
        }
    }

    .fixture-last {
        td {
            font-size: 15px;
            
            .flaticon-football7:before {
                font-size: 12px;
            }
        }
    }

    .homepageTournamentSelect {
        select {
            width: 100%;
        }
    }
}