.fixture-next {
    .fixture-number { 
        width: 100%;
        text-align: center;
        display: inline-block;
    }

    td {
        font-size: 12px;
        &.team { 
            padding-left: 0px;
            padding-right: 0px;
        }        
    }

}