<div class="callout callout-info">
  <h4 data-i18n="Puntos"></h4>
  <p>Por cada pronóstico acertado se suman:</p>
  <ul class="points">
    <li>Por resultado general: <strong> {{ game.points_general }} puntos</strong></li>
    <li ng-show="!game.classic">Por resultado exacto: <strong> {{ game.points_exact }} puntos</strong></li>
    <li>Si es clásico de la fecha: <strong> {{ game.points_classic }} puntos</strong></li>
  </ul>
  <!--
    <p>Y se multiplica los puntos ganados del pronostico acertado por:</p>
    <ul class="points">
      <li>Si es doble: <strong> por {{ game.points_double }}</strong></li>
    </ul>
  -->
</div>
