<section class="page" ng-controller="GameController">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="flaticon-trophy33"></span> <strong>Mis Torneos</strong></div>
        <div class="panel-body">

          <div style="float:right">
            <label data-i18n="Estado:"></label>
            <span class="ui-select ">
                <select ng-model="youGameStatus">
                    <option value="" data-i18n="-- Todos --"></option>
                    <option value="playing" data-i18n="Jugando"></option>
                    <option value="invitation" data-i18n="Solicite invitacion"></option>
                    <option value="waiting" data-i18n="Sin Responder"></option>
                    <option value="rejected" data-i18n="Rechazados"></option>
                </select>
            </span>
          </div>

          <table class="table game-list">
              <thead>
                  <tr>
                      <th class="col-sm-4">Torneo</th>
                      <th class="col-sm-2">Liga</th>
                      <th class="col-sm-2">Creador</th>
                      <th class="col-sm-2">Estado</th>
                      <th class="col-sm-2">Progreso</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="game in games | filter:gameSelectFilter | orderBy:name" >
                      <td class="col-sm-3"> <a href="" ng-click="gameDetail(game)">{{ game.name }}</a> </td>
                      <td class="col-sm-3"> {{ game.tournament_name }} </td>
                      <td class="col-sm-2"> {{ game.owner }} </td>
                      <td class="col-sm-2">
                        <span class="label label-primary" ng-show="game.you[0].status">Jugando</span>
                        <span class="label label-success" ng-show="game.you[0].status == undefined">Sin responder</span>
                        <span class="label label-danger" ng-show="game.you[0].status == false && !game.you[0].another_chance">Rechazaste</span>
                        <span class="label label-info" ng-show="game.you[0].status == false && game.you[0].another_chance">Solicitaste otra invitacion</span>
                      </td>
                      <td class="col-sm-2"><progressbar class="progressbar-xs no-margin" value="55"></progressbar>
                  </tr>
                  <tr>
                    <td colspan="5" ng-hide="games">
                    <div class="callout callout-success">
                      <h4> No estas jugando ningun Torneo </h4>  
                      <p>Crea un nuevo Torneo invita a tus amigos</p>
                      <div style="margin-top:20px"><a href="#/torneos/nuevo" class="btn btn-primary btn-md">Crear Torneo</a> </div>
                    </div>
                    </td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
</section>
