<cloak loading="loadingInit"></cloak>
<div class="page my-games" ng-controller="GameController">

    <section class="panel panel-default">
        <div class="panel-heading"><span class="flaticon-trophy33"></span><strong> Mis Torneos</strong></div>

        <div class="panel-body">

          <div class="row" style="margin-bottom:20px" ng-show="games && games.length > 3">

            <div class="pull-right" style="margin-right: 20px;margin-top:16px;">
              <a class="btn btn-w-md btn-gap-v btn-success pull-right" href="#/torneos/nuevo" style="font-weight:600;">
                <span data-i18n="Crear Torneo"></span>
              </a>
            </div>

            <div class="pull-left" style="margin-left: 16px">
              <span class="ui-select ">
                  <select ng-model="youGameStatus">
                      <option value="" data-i18n="-- Todos --"></option>
                      <option value="playing" data-i18n="Jugando"></option>
                      <option value="invitation" data-i18n="Solicite invitacion"></option>
                      <option value="waiting" data-i18n="Sin Responder"></option>
                      <option value="rejected" data-i18n="Rechazados"></option>
                  </select>
              </span>
            </div>
          </div>

          <div class="row" ng-hide="games">
            <div class="col-md-12">
                <div class="callout callout-success">
                  <h4> No estas jugando ningun Torneo </h4>  
                  <p>Crea un nuevo Torneo invita a tus amigos</p>
                  <div style="margin-top:20px"><a href="#/torneos/nuevo" class="btn btn-primary btn-md">Crear Torneo</a> </div>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4" ng-repeat="game in games | filter:gameSelectFilter | orderBy:name">
              <div class="panel panel-default panel-game" >
                  <div class="panel-heading">
                      <h3 class="panel-title">{{ game.name }}</h3>
                  </div>
                  <div class="panel-body">

                    <div class='game-tournament'>
                        <i class="flaticon-soccer64"></i>
                        <span>{{ game.tournament_name }}</span>
                    </div>

                    <div class='game-owner'>
                        <i ng-class="{'icon-green' : game.owner == username, 'flaticon-soccer18' : true}"></i>
                        <span>{{ game.owner }}</span>
                        <span ng-if="game.owner == username"> (vos)</span>
                    </div>

                    <div class="gameplayer-status">
                        <span class="label label-primary" ng-show="game.you[0].status">Jugando</span>
                        <span class="label label-success" ng-show="game.you[0].status == undefined">Sin responder</span>
                        <span class="label label-danger" ng-show="game.you[0].status == false && !game.you[0].another_chance">Rechazaste</span>
                        <span class="label label-info" ng-show="game.you[0].status == false && game.you[0].another_chance">Solicitaste otra invitacion</span>
                    </div>

                    <button ng-click="gameDetail(game)" type="button" class="btn btn-w-md btn-gap-v btn-inverse pull-right">Ver</button>
                  </div>
              </div>
            </div>
          </div>

        </div>
    </section>
</div>

