<div class="landing" >
  <div class="container" background-football>
      <div class="logo">
              <span>dp futbol</span>
      </div>
      <phrases></phrases>
      <div class="form" ng-controller='LoginController'>
          <a href="#/signin" class="btn btn-primary btn-block btn-lg signin">Entrar</a>
          <a href="javascript:;" ng-click="login_fb()"  class="btn btn-default btn-facebook facebook-landing"><i class="fa fa-facebook"></i>facebook</a>
          <hr>
          <a href="#/signup" class="btn btn-success btn-block btn-lg signup">Nueva cuenta</a>

      </div>
  </div>
  <span class="picture-copyright">Courtesy of the Boston Public Library, Leslie Jones Collection. </span>
</div>
