<cloak loading="loadingInit"></cloak>
<section class="page friends" ng-controller="FriendsController">
    <div class="col-md-7">
        <section class="panel panel-default">
            <div class="panel-heading"><span class="flaticon-soccer51"></span> <strong>Mis Amigos</strong></div>
            <div class="panel-body mail-categories">

                <div class="row" style="margin-bottom:20px">
                  <div class="pull-right" ng-show="friends" style="margin-right:15px;">
                      <a class="btn btn-w-md btn-gap-v btn-primary pull-right" href="#/amigos/buscar" style="font-weight:600;">
                        <span data-i18n="Buscar Amigos"></span>
                      </a>
                  </div>
                </div>

                <ul class="list-group " ng-show="friends">
                    <li ng-repeat="friend in friends" class="list-group-item" ng-class='{active: selectedFriend == friend}' ng-if="friend.is_friend">
                        <a href="javascript:;" ng-click="selectFriend(friend)">
                          {{ friend.username }}
                        </a>
                    </li>
                </ul>

              <div class="callout callout-info" ng-hide="friends">
                  <h4> Busca Amigos </h4>  
                  <p> Hace nuevos amigos para empezar a jugar un Torneo. </p>
                  <div style="margin-top:20px"><a href="#/amigos/buscar" class="btn btn-primary btn-md">Buscar Amigos</a> </div>
              </div>

          </div>
        </section>
        <section class="panel panel-default" ng-show="friends_waiting_for_you" >
            <div class="panel-heading"><span class="flaticon-soccer51"></span><strong> Amigos que esperan tu respuesta</strong></div>
            <div class="panel-body mail-categories">
                <ul class="list-group" ng-hide="no_more_friends_waiting">
                    <li ng-repeat="friend in friends_waiting_for_you" class="list-group-item" ng-class='{active: selectedFriend == friend}'>
                        <a href="javascript:;" ng-click="selectFriend(friend)">
                          {{ friend.username }}
                            <button type="button" ng-click="updateFriendship(false, friend)" style="margin-left: 10px;"class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-remove"></span>&nbsp; No </button>
                            <button type="button" ng-click="updateFriendship(true, friend)" class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-ok"></span>&nbsp; Si </button>
                        </a>
                    </li>
                </ul>
                  </tbody>
              </table>

              <div class="callout callout-success" ng-show="no_more_friends_waiting">
                <p>Has respondido a todas las solicitudes de tus amigos!</p>
              </div>
          </div>
        </section>
        <section class="panel panel-default" ng-show="friends_limbo">
            <div class="panel-heading"><span class="flaticon-soccer51"></span> <strong>Amigos que no contestaron</strong></div>
            <div class="panel-body mail-categories">
                <ul class="list-group">
                    <li ng-repeat="friend in friends_limbo" class="list-group-item" ng-class='{active: selectedFriend == friend}'>
                        <a href="javascript:;" ng-click="selectFriend(friend)">
                          {{ friend.username }}
                        </a>
                    </li>
                </ul>
          </div>
        </section>
    </div>
    <div class="col-md-5">
        <section class="panel panel-default">
            <div class="panel-heading"><span class="flaticon-soccer51"></span> <strong>Ficha </strong></div>
            <div class="panel-body">

              <div class="callout callout-info" ng-hide="selectedFriend">
                  <p>Selecciona a un amigo para ver su ficha</p>
              </div>

              <ul class="list-unstyled list-success" ng-show="selectedFriend">
                  <li>
                      <span class="flaticon-sports35 icon-friend"></span>
                      <label>Apodo</label>
                      {{selectedFriend.username}}
                  </li>
              </ul>
            </div>
        </section>
    </div>
</section>
