<section class="page" ng-controller="FriendsSearchController">
    <section class="panel panel-default">
        <div class="panel-heading"><span class="flaticon-soccer51"></span> <strong>Buscar Amigos</strong></div>
        <div class="panel-body">
            <form role="form" ng-submit="search()" name="form_search" novalidate>
                <div class="form-group col-sm-7">
                  <input type="text" class="form-control col-sm-10" name="username" ng-model="username" placeholder="Buscar Amigos" required>
                </div>
                <button type="submit" class="btn btn-inverse" data-ng-disabled="!form_search.$valid">Buscar</button>
            </form>              

            <div class="callout callout-info" ng-show="intro">
                <p>Busca nuevos amigos para jugar Torneos</p>
            </div>

            <div class="callout callout-danger" ng-show="not_found">
              <p>No se encontraron jugadores con el apodo: <strong>{{ not_found }} </strong></p>
            </div>

            <table class="table players-list" ng-show="players">
                <thead>
                    <tr>
                        <th>Apodo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="player in players" >
                        <td class="col-sm-7"> {{ player.username }} </td>

                        <td class="col-sm-3" > 
                          <span class="flaticon-sports35 ask-friendship" ng-show="player.is_limbo_friend"> Se hizo el pedido de amistad</span>
                          <span class="flaticon-sports35 ask-friendship icon-friend" ng-show="player.is_friend"> Es tu amigo!</span>
                          <span class="flaticon-sports35 ask-friendship" ng-show="player.is_waiting_for_you"> Esta esperando tu respuesta</span>
                          <span class="flaticon-sports35 ask-friendship icon-danger" ng-show="player.is_bad_friend"> Rechazo tu pedido de amistad</span>
                          <span class="flaticon-sports35 ask-friendship icon-danger" ng-show="player.you_are_bad_friend"> Rechazaste su pedido de amistad</span>
                        </td>


                        <td class="col-sm-2" > 
                          <button class="btn btn-primary" ng-click="makeFriend(player)" ng-show="player.you_are_bad_friend">
                            <span class="flaticon-sports35 ask-friendship "></span>
                            Solicitar Amistad
                          </button> 
                          <button class="btn btn-primary" ng-click="makeFriend(player)" 
                                 ng-hide="player.is_friend || player.is_limbo_friend || player.is_bad_friend || player.you_are_bad_friend || player.is_waiting_for_you" >
                                 <span class="flaticon-sports35 ask-friendship "></span>
                                 Solicitar Amistad
                          </button> 
                        </td>
                    </tr>
                </tbody>
            </table>
      </div>
    </section>
</section>
