
<!doctype html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <title>DP Fútbol</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
        <!-- needs images, font... therefore can not be part of ui.css -->
        <link rel="stylesheet" href="/public/bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/public/bower_components/weather-icons/css/weather-icons.min.css">
        <!-- end needs images -->

        <!-- build:css styles/ui.css -->
        <link rel="stylesheet" href="/public/bower_components/morris.js/morris.css">
        <!-- endbuild -->
        <link rel="stylesheet" href="/public/css/main.css">

        <link rel="stylesheet" href="/public/fonts/soccer_icons/flaticon.css">

        <!-- typekit -->
        <script type="text/javascript" src="//use.typekit.net/wdn7fne.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body style="background-color: #1C7EBB;">
      <div class="page-err">
        <div class="text-center">
          
          <div class="container text-center">
            <div class="logo">
              <span>dp fútbol</span>
            </div>
          </div>
          
          <div class="err-status">
          </div>
          <div class="err-message">
            <h2>Página no encontrada.</h2>
          </div>
          <div class="err-body">
            <a href="/#/" class="btn btn-lg btn-goback">
              <span class="glyphicon glyphicon-home"></span>
              <span class="space"></span>
              Regresar
            </a>
          </div>
        </div>
      </div>
    </body>
</html>

