<section class="page" ng-controller="FriendsController">
    <div class="col-md-7">
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="flaticon-soccer51"></span> Mis Amigos</strong></div>
            <div class="panel-body">
              <table class="table friends-list table-striped table-hover" ng-show="friends">
                  <tbody>
                      <tr ng-repeat="friend in friends" ng-if="friend.is_friend">
                          <td ng-click="selectFriend(friend)"> {{ friend.username }} </td>
                      </tr>
                  </tbody>
              </table>

              <div class="callout callout-info" ng-hide="friends">
                <p>No tienes amigos... puedas buscarlos ingresando al <a href="#/amigos/buscar/">buscador!</a></p>
              </div>

          </div>
        </section>
        <section class="panel panel-default" ng-show="friends_waiting_for_you" >
            <div class="panel-heading"><strong><span class="flaticon-soccer51"></span> Amigos que esperan tu respuesta</strong></div>
            <div class="panel-body">
              <table class="table friends-list table-striped table-hover" ng-hide="no_more_friends_waiting">
                  <tbody>
                      <tr ng-repeat="friend in friends_waiting_for_you">
                          <td class="col-sm-8" ng-click="selectFriend(friend)"> {{ friend.username }} </td>
                          <td>
                            <button type="button" ng-click="updateFriendship(true, friend)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok"></span>&nbsp; Si </button>
                            <button type="button" ng-click="updateFriendship(false, friend)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span>&nbsp; No </button>
                          </td>
                      </tr>
                  </tbody>
              </table>

              <div class="callout callout-info" ng-show="no_more_friends_waiting">
                <p>Has respondido a todas las solicitudes de tus amigos!</p>
              </div>
          </div>
        </section>
        <section class="panel panel-default" ng-show="friends_limbo">
            <div class="panel-heading"><strong><span class="flaticon-soccer51"></span> Amigos que no contestaron</strong></div>
            <div class="panel-body">
              <table class="table friends-list table-striped table-hover">
                  <tbody>
                      <tr ng-repeat="friend in friends_limbo">
                          <td ng-click="selectFriend(friend)"> {{ friend.username }} </td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </section>
    </div>
    <div class="col-md-5">
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="flaticon-soccer51"></span> Ficha </strong></div>
            <div class="panel-body">

              <div class="callout callout-info" ng-hide="selectedFriend">
                  <p>Selecciona a un amigo para ver su ficha</p>
              </div>

              <ul class="list-unstyled list-info" ng-show="selectedFriend">
                  <li>
                      <span class="flaticon-sports35 icon"></span>
                      <label>Apodo</label>
                      {{selectedFriend.username}}
                  </li>
              </ul>
            </div>
        </section>
    </div>
</section>
