.game-details {
    .game-header span {
        font-size: 35px;
        margin-left: 10px;
    }

    i:before {
        font-size: 40px;
    }

    i.glyphicon-chevron-up:before {
        font-size: 15px;
    }

    .game-players {
        margin-left: 9px;
        line-height: 10px;
        margin-bottom: 25px;

        i.tshirt:before {
            font-size: 30px;
            margin-left: 3px;
        }
    }

    .game-owner {
        margin-left: 9px;
        margin-bottom: 20px;
        line-height: 10px;

        i.tshirt:before {
            font-size: 36px;
        }
    }

    .email-players {
        margin-left: 20px;
        line-height: 10px;

        i:before {
            font-size: 15px;
        }

        span {
            margin-left: 3px;
        }
    }

    .facebook-players {
        margin-left: 15px;
        line-height: 10px;

        .bg-facebook {
            background-color: #767676;
            color: white;
        }

        .btn-icon-round-sm {
            height: 20px;
            line-height: 20px;
            width: 20px;
        }

        i:before {
            font-size: 14px;
        }

        span {
            margin-left: 3px;
        }
    }

    .reglas {
        .panel-group {
            margin-top: 40px;
        }
    }
}

.game-list {
  tbody {
    tr {
      a {
        color: $brand-primary;
        font-weight: bold;
      }
    }
  }
}

.inviteMorePlayers {
  .emailsWithCounter {
    margin-bottom: 15px;
  }

  .inviteMorePlayersHelp {
    right: 15px;
    top: 11px;
  }
}

.inviteMorePlayersButton {
  float: right;
  margin-top: 20px;
}

.game-configuration-advanced {
    i.tshirt:before {
        font-size: 36px;
    }

    .points {
      margin-top: 21px;
    }

    .gamePointHelp {
      right: 23px;
      top: 20px;
    }

    .game-players {

        i.tshirt:before {
            margin-left: 4px;
            font-size: 30px;
        }
    }

    .counter {
      margin-top: 15px;
    }
}


.icon-advanced-configuration {
  top: 8px;
  font-size: 15p;
}

.newGame {
  .change-view {
    span {
      a {
        &:hover {
          text-decoration: underline;
          color: green;
        }
      }
      font-weight: 600;
    }
  }
}
