.game-details {
    .game-header span {
        font-size: 35px;
        margin-left: 10px;
    }

    i:before {
        font-size: 40px;
    }

    i.glyphicon-chevron-up:before {
        font-size: 15px;
    }

    .game-players {
        margin-left: 9px;
        line-height: 10px;
        margin-bottom: 25px;

        i.tshirt:before {
            font-size: 30px;
            margin-left: 3px;
        }
    }

    .game-owner {
        margin-left: 9px;
        margin-bottom: 20px;
        line-height: 10px;

        i.tshirt:before {
            font-size: 36px;
        }
    }

    .email-players {
        margin-left: 20px;
        line-height: 10px;

        i:before {
            font-size: 15px;
        }

        span {
            margin-left: 3px;
        }
    }

    .facebook-players {
        margin-left: 15px;
        line-height: 10px;

        .bg-facebook {
            background-color: #767676;
            color: white;
        }

        .btn-icon-round-sm {
            height: 20px;
            line-height: 20px;
            width: 20px;
        }

        i:before {
            font-size: 14px;
        }

        span {
            margin-left: 3px;
        }
    }

    .reglas {
        .panel-group {
            margin-top: 40px;
        }
    }
}

.game-list {
  tbody {
    tr {
      a {
        color: $brand-primary;
        font-weight: bold;
      }
    }
  }
}

.inviteMorePlayers {
  .emailsWithCounter {
    margin-bottom: 15px;
  }

  .inviteMorePlayersHelp {
    right: 15px;
    top: 11px;
  }
}

.inviteMorePlayersButton {
  float: right;
  margin-top: 20px;
}

.game-configuration-advanced {
    i.tshirt:before {
        font-size: 36px;
    }

    .points {
      margin-top: 21px;
    }

    .gamePointHelp {
      right: 23px;
      top: 20px;
    }

    .game-players {

        i.tshirt:before {
            margin-left: 4px;
            font-size: 30px;
        }
    }

    .counter {
      margin-top: 15px;
    }
}


.icon-advanced-configuration {
  top: 8px;
  font-size: 15p;
}

.newGame {
  .change-view {
    span {
      a {
        &:hover {
          text-decoration: underline;
          color: green;
        }
      }
      font-weight: 600;
    }
  }

  .crests {
    background-color: #FFF;
    border-radius: 2px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;

    width: 70%;
    .crest {
      display: inline;

      img {
        height: 50px;
        margin: 5px;
      }

      cursor: pointer;
    }
  }
}

.my-games {
  .panel-game {
    .panel-body {
      font-size: 19px;
      div {
        margin-bottom: 15px;

        &.game-tournament {
          font-size: 18px;

          i:before {
              font-size: 28px;
          }
        }

        &.game-owner {
          i:before {
              font-size: 30px;
          }
        }

      }

      button {
        font-weight: 800;
        letter-spacing: 0.5px;
      }
    }
  }
}
