.landing {
  .container {
    background-repeat: no-repeat;
    background-image: url("../images/background/bg_1.jpg");
    width: 100%;
    min-height: 676px;
    background-size: cover;
    padding: 0px;
  }


  .logo {
      text-align: center;
      background-repeat: no-repeat;
      background-image: url("../images/logo.png");
      background-size: 105px 130px;
      background-position: 0px 5px;
      font-weight: 600;
      font-size: 70px;
      padding-top: 30px;
      padding-bottom: 20px;
      color: white;
      width: 450px;
      padding-left: 60px;
      margin: 0 auto;
      margin-top: 50px;
      text-shadow: 0 1px 2px rgba(0,0,0,0.5);

      span {
        font-family: "lato";
      }
  }

  .form {
      margin-top: 200px;
      background: rgba(255,255,255,0.3);
      height: 200px;
      text-align: center;

      hr {
        margin-top: 40px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #6D6969;
      }

      a {
        font-size: 18px;
        width: 150px;
        height: 45px;
        margin: 0;
        margin-top: 30px;
        display: inline-block;

        &.signin {
          margin-right: 10px;
        }

        &.facebook-landing {
          border: medium none;
          line-height: 33px;
        }

        &.signup {
          margin: 0 auto;
          margin-top: 20px;
          display: block;
          width: 315px;
        }

      }
  }
}
