.predictions {

  .menu {
    padding: 10px;
    margin-right: 10px;
  }

  .fixture-container {
    min-height: 600px;
    position: relative;

    &.loading {
      table {
        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
          z-index: 10;
          background-color: rgba(255, 255, 255, 0.81);
        }
      }
    }

    .loading {
        font-size: 60px;
        font-weight: 600;
        left: 32%;
        margin: 0 auto;
        position: absolute;
        top: 25%;
        z-index: 20;
        letter-spacing: 2px;

        #circleG {
          position: absolute;
          right: -122px;
          top: 53%;
        }
    }

    .match {
      height: 60px;

      td {
        vertical-align: middle;

        .ui-radio {
            margin-bottom: 0px;
        }
      }



    }

  }
}
